.root {
    background-color: rgba(0, 0, 0, 0.536);
    max-width: 60vw;
    margin: 4vh;
    display:flex;

    li {
        list-style: none;
        margin-bottom: 5px;
        padding-right: 1.5em;
    }

    p {
        padding: 1em 1em 0em 1em;
    }

    div {
        margin-left: 1em;
        margin-right: 1em;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    p strong {
        margin-right: 5px;
    }
    
    img {
        padding-bottom: 1em;
        margin-top: 1.5em ;
        max-width: 25vw;
        height:auto;
    }

    section {
        padding-top: 2px;
        background-color: rgba(47, 79, 79, 0.678);
        color: rgb(201, 231, 201);
    }

    section p {
        display: flex;
        justify-content: center;
    }
}